
.tscp {

	&-toggler {
		&:checked + label + .tscp-date-selector {
			display: block;
		}
	}

	&-date-selector {
		display: none;
		margin-top: 10px;

		+ .description {
			display: block;
			margin-top: 5px;
			font-size: 0.85em;
			color: #666;
		}
	}

	&-month,
	&-long,
	&-short {
		box-sizing: border-box;
		padding: 0 3px !important;
	}

	&-month {
		width: 4.5em;
	}

	&-long {
		width: 3.5em;
		text-align: right;
	}

	&-short {
		text-align: right;
		width: 2em;
	}
}


.column-expires {
	width: 2em;
	text-align: center;

	thead &,
	tfoot & {
		text-align: center;

		.dashicons {
			color: #888;
		}
	}

	.dashicons {
		&-yes {
			color: #4fb061;
		}

		&-minus {
			color: #ddd;
		}

		&-no {
			color: #ff3b35;
		}
	}
}
