/*!
 * Editor helper
 * @handle tscp-editor-input
 * @deps wp-components
 */

.tscp-time-input {
	flex-wrap: wrap;
	position: relative;

	> * {
		flex: 1 0 100%;
	}

	&-toggle {
		margin-bottom: 10px;
	}
}
